.container {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border: 1px solid red;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .container .title {
    background-color: #22b8cf;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container .content {
    background-color: white;
  }
  
  /* 반응형 디자인을 위한 미디어 쿼리 추가 */
  @media (max-width: 768px) {
    .container {
      width: 90%;
      margin-top: 4rem;
    }
  
    .container .title {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 600px) {
    .container {
      width: 100%;
      margin-top: 2rem;
    }
  
    .container .title {
      font-size: 1rem;
    }
  }
  

